<div class="contenar">
    <div class="about-us-container">
        <div class="content">
            <h1>About Us</h1>
            <p>
                Juta.com is your go-to online destination for a wide variety of stylish and comfortable footwear.
                Offering everything from casual sneakers to formal shoes, we cater to every occasion and style
                preference. With high-quality products and convenient shopping options, Juta.com ensures you find the
                perfect pair to match your lifestyle.
            </p>
        </div>
        <div class="image">
            <img src="Image/3.jpg" alt="About Us Image" />
        </div>
    </div>
</div>