
<app-home-image-carousel></app-home-image-carousel>
<app-about-us></app-about-us>
<h1>Shop By Gender</h1>
<div class="content">
  <div class="main">
    <div class="container">
      <a routerLink="/category/woman-category">
        <img
          src="https://www.skechers.in/dw/image/v2/BGNZ_PRD/on/demandware.static/-/Sites-skechersin-Library/default/dwc94f081a/Home-Page/Desktop/Homepage-shop_by_gender-women.jpg?sw=900&q=95"
          alt="Product Image" class="image" />
      </a>
      <div class="middle">
        <div class="text">Women</div>
      </div>
    </div>

    <div class="container">
      <a routerLink="/category/man-category">
        <img
          src="https://www.skechers.in/dw/image/v2/BGNZ_PRD/on/demandware.static/-/Sites-skechersin-Library/default/dwe66d8762/Campaign-Run-Landing/Desktop-Campaign-Run-Landing/skx58039-homepagecontentblocks-feb2023-1500x1304-men_run_campaign_10102023.jpg?sw=900&q=95"
          alt="Product Image" class="image" />
      </a>
      <div class="middle">
        <div class="text">Men</div>
      </div>
    </div>

    <div class="container">
      <a routerLink="/category/children-category">
        <img
          src="https://www.skechers.in/dw/image/v2/BGNZ_PRD/on/demandware.static/-/Sites-skechersin-Library/default/dw4bc7920a/Campaign-Run-Landing/Desktop-Campaign-Run-Landing/skx58039-homepagecontentblocks-feb2023-1500x1304-boys_run_campaign_10102023.jpg?sw=900&q=95"
          alt="Product Image" class="image" />
      </a>
      <div class="middle">
        <div class="text">Kids</div>
      </div>
    </div>
  </div>
  <app-shoes-brand-logos></app-shoes-brand-logos>
</div>

<app-footer-page></app-footer-page>