<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

</body>

</html> -->
<footer class="footer-section">
    <div class="footer-container">
        <!-- <div class="footer-logo-wrap">
            <a href="#" class="footer-logo">juta.<span></span>com</a>
        </div>
        <p class="footer-description">Juta.com is your go-to online destination for a wide variety of stylish and
            comfortable footwear. Offering everything from casual sneakers to formal shoes, we cater to every occasion
            and style preference. With high-quality products and convenient shopping options, Juta.com ensures you find
            the perfect pair to match your lifestyle.</p>

        <ul class="custom-social">
            <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
        </ul> -->

        <div class="links-wrap">
            <ul class="footer-links">
                <li><a href="about">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>

        <ul class="footer-social">
            <li><a href="#" class="fa" ><img src="Footer-logo/communication.png" alt=""></a></li>
            <li><a href="#" class="fa"><img src="Footer-logo/instagram.png" alt=""></a></li>
            <li><a href="#" class="fa"><img src="Footer-logo/linkedin.png" alt=""></a></li>
            <li><a href="#" class="fa"><img src="Footer-logo/twitter (1).png" alt=""></a></li>
        </ul>
        <img src="" alt="">

        <!-- <div class="links-wrap">
            <p>&copy; 2025 juta.com. All rights reserved.</p>

        </div> -->
    </div>
</footer>